%table.table{:id => "sortable", :style => "table-layout:auto;", "data-sort-name" => "order"}
  %thead
    %tr
      %th{"data-sortable" => true, "data-field" => "health" }Health
      %th{"data-sortable" => true, "data-field" => "name"}Goal
      %th{"data-sortable" => true, "data-field" => "priority"} Priority
      %th{"data-sortable" => true, "data-field" => "support"} Support
      %th{"data-sortable" => true, "data-field" => "effort"} Effort
      %th{"data-sortable" => true, "data-field" => "cost"} Cost
      - if can? :manage, @list
        %th Manage
  %tbody{:id => "goals_table_body"}
    - goals.each do |goal|
      = render :partial => "goals/index_row", :locals => {:goal => goal}

- if can? :manage, @list
  %a.btn.btn-success.btn-sm{:id => 'add_goals_toggle', 'data-toggle' => 'modal', 'data-target' => "#goalModal"}
    %span.glyphicon.glyphicon-plus-sign
    Add a Goal
  
