%div{:style => "margin-top:50px;"}
  .col-sm-6.col-sm-offset-3
    .panel.panel-primary
      .panel-heading.panel-primary
        %strong
          You don't have any lists.
      .panel-body
        %p To use Priorities, you need to make a list. Lists can be named for:
        
        %ul.list-unstyled{:style => "margin-left:5em;margin-bottom:2em;"}
          %li{:style => "padding-top:1em;"}
            %span.glyphicon.glyphicon-check
            Regular tasks you need to do.
          %li{:style => "padding-top:1em;"}
            %span.glyphicon.glyphicon-user
            Teams you need to manage.
          %li{:style => "padding-top:1em;"}
            %span.glyphicon.glyphicon-list-alt
            A project you're working on.

        = link_to new_list_path, :class => 'btn btn-success btn-sm', :style => "margin-left:6em;" do 
          %span.glyphicon.glyphicon-plus-sign
          Make A List
