%div{:style => "margin-top:50px;"}
  .col-sm-6.col-sm-offset-3
    .panel.panel-danger
      .panel-heading.panel-danger
        %span.glyphicon.glyphicon-alert
        %strong
          You're not allowed to view this list. 
      .panel-body
        %p
          The owner of this list hasn't chosen to share it with you. Ask them to add you to the
          list by editing it and adding you to the user list.
          


