- levels = {"High" => 3, "Medium" => 2, "Low" => 1, "None" => 0}
.btn-group.btn-group-xs
  != area_button(area_id,"Support")
  - if current_user.try(:super?)
    %ul.dropdown-menu{:role => "menu"}
      - levels.each do |l,n|
        %li
          =link_to areas_set_area_support_path(:area_id => area_id, :support => n), :remote => true, :method => :post do
            = l
