- levels = {"High" => 3, "Medium" => 2, "Low" => 1, "None" => 0}
.btn-group.btn-group-xs
  != area_button(area_id,"Coverage")
  - if current_user.try(:super?)
    %ul.dropdown-menu{:role => "menu"}
      - levels.each do |l,n|
        %li
          =link_to areas_set_writer_coverage_path(:area_id => area_id, :writer_coverage => n), :remote => true, :method => :post do
            = l
