%div{:style => "margin-top:50px;"}
  .col-sm-6.col-sm-offset-3
    .panel.panel-primary
      .panel-heading.panel-primary
        %strong
          You need to be logged in to use this page. 
      .panel-body
        %p
          This page is for the display of a user's goals. You must be logged in and 
          have a list set up with goals to view it. 
        


