- levels = {"High" => 3, "Medium" => 2, "Low" => 1, "None" => 0}
.btn-group.btn-group-xs
  != goal_button(goal,"Priority")
  - if current_user.id == goal.team.user_id
    %ul.dropdown-menu{:role => "menu"}
      - levels.each do |l,n|
        %li
          =link_to goals_set_goal_priority_path(:goal => goal, :priority => n), :remote => true, :method => :post do
            = l
