%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active
    All Goals
    
%div{:id => "goals_area"}
  - if user_signed_in? == false
    = render :partial => 'no_user.html.haml'
  - else
    = render :partial => 'lists/goals_table.html.haml', :locals => {:goals => current_user.goals, :context => "all_goals"}
    
  

%br
%br



