.col-md-9.col-md-offset-1
  %h2 Priorities Manual

  :markdown
    ### What Priorities Does

    Priorities helps you figure out what you're up to, get it all out
    of your head, and then decide what matters to you and whether the
    work you're doign reflects that. 

    Priorities can work at all levels of an organization, or for
    individuals working on their own. With Priorities, you:

    1. Get everything you or your team is doing out of your head. 
    2. Set a general priority for each thing.
    3. Record how much attention you're giving each thing.
    4. Look for the disconnects between how important you say something
      is, and how important it is to you in practice. 
    
    The goal of Priorities is to help people and teams talk about what
    they're doing, what matters, and whether the two line up. 

    ### Signing Up

    Before you can start using Priorities. You need to [create an
    account](/users/sign_up). Please fill out the form completely. 
    
    ### Making Your First List

    Once you've created an account, you need to make a list. Visit the
    [home page](/) and click the "Make a List" link:

    ![Making your first list](/images/priorities_no_list.jpg)

    Lists can be just about anything you'd like. Here are some ideas:

    * If you're a manager, name a list for your team and use it to
      capture everything your team is working on.
    * If you're an individual, name a list for a given context, such
      as "Work" or "Home," and use it to capture everything you do in
      that context.
    * If you're a product owner, name a list for your product, and use
      it to capture features or areas of product development you want
      to prioritize. 

    ### Inventorying Your Goals
    
    Once you've made your list, start populating it.

    Click the "Add a Goal" button to add something to your list:

    ![Making your first goal](/images/priorities_no_goals.jpg)

    I'd recommend just entering goals at this point. Don't
    prioritize them or otherwise think about them. Just get them all
    into the list.

    If you're a manager, do this exercise with your team: You might
    find they're working on things you didn't know about. 


    <div class = "bs-callout bs-callout-warning">
    <h4>What Are Goals?</h4>
    Priorities thinks of things on your list as "goals," to the extent
    they're things you're trying to accomplish. Some ideas for goals
    might include:
    
    <ul>
    <li> Work your team does to support another team on a regular basis.
    <li> A feature for a product.
    <li> A developmental area, personal or professional.
    <li> A new practice the team wants to adopt, such as a group of
      writers deciding they need to copyedit each others' work more
      regularly. 
      </ul>
    </div>
    #### Prioritizing Your Goals

    Once you've got all your goals listed, it's time to prioritize
    them. Priorities has a pretty simple model for this: Each goal can
    be either "High," "Medium," or "Low" priority. Set a goal's
    priority by clicking the "Set Priority" button next to the goal's
    name:

    ![Setting a goal's priority](/images/set_a_priority.jpg)

    <div class = "bs-callout bs-callout-warning">
   
    <h4>How Do I Set Priorities?</h4>
    <p>If you need help thinking about how to set priorities for your
    goals, here's a possible model:

    <p>
    <span class="label label-default">No Priority</span> You know
      it's a thing but you don't have any plans to do anything about
      it any time soon.
      
    <p><span class="label label-primary">Low Priority</span> This is
      something that would be nice to have some day, and that isn't at
      all necessary now.

    <p><span class="label label-warning">Medium Priority</span> This is
      something that requires at least some maintenance on your part
      as a secondary duty for someone, even if it doesn't warrant your
      full attention. If it slips for a little while, it won't cause
      too much pain, if any.

    <p><span class="label label-danger">High Priority</span> You have
      to actively work on this, either to build it or to maintain it
      to a high standard.
    </div>
      

    #### Review How You're Supporting Your Goals

    Once you've got everything into a list and set priorities, you
    should review the level to which you're supporting each of your
    goals. Enter an honest assessment of whether or not you're doing
    (or able to do) everything that goal requires to be completed to a
    high standard.

    For each item, assess how much support you're giving it.  Set a
    goal's priority by clicking the "Set Priority" button next to the
    goal's name:

    ![Setting support for an item](/images/set_support.jpg)

    <div class = "bs-callout bs-callout-warning">
    <h4>How Should I Think About Support?</h4>

    <p>If you need help thinking about how to set the support level
    for your goals, here's a possible model:
    
    <p>
    <span class="label label-default">No Support</span> The item in
    question is getting no support at all. Nobody’s paying attention to
    it or you're never doing it. 

    <p> <span class="label label-danger">Low Support</span> The item
    is getting very little support. Someone — maybe not the same
    person every time — checks in on it now and then, there’s a long
    backlog of issues with it that are addressed irregularly. Quality
    may be relatively low.

    <p> <span class="label label-warning">Medium Support</span> The
    item is getting some support. It has a clear owner but it’s not
    getting their full attention. Quality may be “best effort” as
    opposed to “high.”

    <p> <span class="label label-success">Full Support</span> The item
    is getting full support. The person or people working on it
    prioritize it above other things, and it’s being completed to a
    high degree of quality.
    </div>

    As you enter the support you're giving each goal, you'll notice
    that the icon in the "Health" column on the left side of your list
    of goals is updating to reflect the alignment of your priorities
    and work.

    Here's how to read the health icons:

    <table class="table">
    <thead>
    <tr>
    <th>
      Symbol
    <th>
      Meaning
    </tr>
    <tbody>
    <tr>
    <td><span class="glyphicon glyphicon-ok text-success" />
    <td>Indicates that you're supporting the item at about the same
    level as which you've prioritized it.
    <tr>
    <td><span class="glyphicon glyphicon-warning-sign text-warning" />
    <td>Indicates that you're supporting the item to a slightly lower
    standard than you've prioritized it. 
    <tr>
    <td><span class="glyphicon glyphicon-fire text-danger" />
    <td>Indicates that the level of support you're giving something
    doesn't match your stated priorities at all. 
    </tbody>
    </table>
    
    ### Review Your Priorities and Support

    Once you've entered all your goals and the levels at which you're
    supporting them, the list acts as a reviewing tool. Each column
    can be sorted by clicking on its heading, which provides you a way
    to see your goals ranked by health, name, priority, and support. 

    #### Goals With Poor Health <span class="glyphicon glyphicon-fire text-danger">
    These goals are in poor health because the amount of support or attention you're
    giving them is badly out of alignment with how important you
    reported that they are to you.

    That may mean you need to give them more attention, or it may mean
    that you need to set a more reasonable priority for them. 

    #### Goals With Moderate Health <span class="glyphicon glyphicon-warning-sign text-warning">
    These goals are in moderate health because they get a little less
    support than you'd like to. When you review them, ask what value
    they represent to you and double-check your prioritization. Is the
    effort required to get them up to full health worth the payoff? If
    not, are they as important as you thought they were? 
    
    #### Goals With Good Health <span class="glyphicon glyphicon-ok text-success">
    It's always good to review these goals and make sure that you're
    not putting more into them than you need when you have other goals
    that could use more attention. 

    ## Review Regularly

    After you've completed your first exercise with Priorities,
    remember to keep it up to date: Check in every week or so to
    remind yourself of your priorities, and review in more depth
    regularly -- once a month or once a quarter.

    <br />
    <br />
