.col-md-9.col-md-offset-1
  :markdown
  
    ### Overview

    This app is built to help you identify the things your team is
    working on, prioritize them, and describe how much work you're
    putting into them. 

 
   
    ### More Documentation
   
    More documentation is available on [the manual page](/docs). 
  
  
